$card-height: 380px;

  .main-cards {

    .card {
        height: $card-height;
        margin: 10px 0;

    }

    .card-tagline {
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
    }

    .card-headline {
        margin: 10px 0;
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
        color: #ffffff;
    }

    .les-cards-products {
      max-width: 840px;
      margin: 10px auto;
      display: grid;
      grid-auto-flow: dense;
      grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));  grid-gap: 1em;

      .les-card-double {
        grid-column-end: span 2;
        background-size: cover;
        height: $card-height;
      }

      .les-card-single {
        background-size: cover;
        height: $card-height;
      }
    }

    @media (max-width: 360px) {
      .les-cards-products {
        margin: 10px 10%;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));  grid-gap: 1em;

      }

      .les-card-double {
        height: $card-height;
        grid-column-end: auto;
      }

      .les-card-single {
        height: $card-height;
      }
    }
  }
